*{
	padding:0;
	margin:0;
	list-style-type:none;
	text-decoration:none;
}
.page{
	width:auto;
	height:auto;
	margin:0 auto;
	background-image: linear-gradient(to bottom, #FCF9E6, #E8BDB1, #DFA4D0);
}
.nav{
	width:1260px;
	height:265px;
	margin:0 auto;
}
.nav>img{
	padding-top:8%;
	padding-left:5%;
}
.content{
	width:1260px;
	height:1075px;
	margin:0 auto;
	position:relative;
}
#tu1{
	position:absolute;
	top:120px;
	left:20%;
}
#tu2{
	position:absolute;
	top:600px;
	left:10%;
}
#tu3{
	position: absolute;
	top:70px;
	left:75%;
}
#tu4{
	position: absolute;
	top:720px;
	left:70%;
}
#tu5{
	position: absolute;
	top:250px;
	left:35%;
}
#tu6{
	position: absolute;
	top:870px;
	left:40%;
}
.finally{
	width:1260px;
	height:1422px;
	margin:0 auto;
	position:relative;
}
#img1{
	position: absolute;
	top:10px;
	left:10%;
}
#img2{
	position: absolute;
	top:240px;
	left:35%;
}
#img3{
	position: absolute;
	top:415px;
	left:15%;
}
#img4{
	position: absolute;
	top:605px;
	left:25%;
}
#img5{
	position: absolute;
	top:490px;
	left:2.5%;
}

