*{
	padding:0;
	margin:0;
	list-style-type:none;
	text-decoration:none;
}
.page{
	width:auto;
	height:auto;
	margin:0 auto;
	background-image: linear-gradient(to bottom, #FCF9E6, #E8BDB1, #DFA4D0);
}
.nav{
	width:1008px;
	height:140px;
	margin:0 auto;
}
.nav>img{
	padding-top:5%;
	padding-left:5%;
}
.content{
	width:1008px;
	height:700px;
	margin:0 auto;
	position:relative;
}
.content1{
	width:100%;
	height:528px;
	border:2px solid #f0cec2;
	background-image: linear-gradient(to bottom, #f5e6d3, #eecdbc, #e4b6b8);
	position:absolute;
	top:86px;
}
#form0{
	width:30%;
	height:350px;
	position:absolute;
	top:100px;
	left:6%;
}
#tu1{
	width:276px;
	height:276px;
}
#tu2{
	width:40%;
	height:15%;
	position:absolute;
	top:85%;
	left:30%;
}
#file0{
	width:40%;
	height:15%;
	position:absolute;
	top:85%;
	left:30%;
	opacity: 0;
}
#tu3{
	position:absolute;
	top:210px;
	left:40%;
}
#tu4{
	position:absolute;
	top:220px;
	left:55%;
}
#but0{
	width:20%;
	height:50px;
	position:absolute;
	top:210px;
	left:40%;
	opacity: 0;
}
.content2{
	width:30%;
	height:350px;
	position:absolute;
	top:100px;
	left:65%;
}
.finally{
	width:1008px;
	height:780px;
	margin:0 auto;
	position:relative;
}
#img1{
	position: absolute;
	top:25px;
	left:10%;
}
#img2{
	position: absolute;
	top:150px;
	left:35%;
}
#img3{
	position: absolute;
	top:240px;
	left:15%;
}
#img4{
	position: absolute;
	top:345px;
	left:25%;
}
#img5{
	position: absolute;
	top:35px;
	left:2.5%;
}