*{
	padding:0;
	margin:0;
	list-style-type:none;
	text-decoration:none;
}
.page{
	width:auto;
	height:auto;
	margin:0 auto;
	background-image: linear-gradient(to bottom, #FCF9E6, #E8BDB1, #DFA4D0);
}
.nav{
	width:1260px;
	height:265px;
	margin:0 auto;
}
.nav>img{
	padding-top:8%;
	padding-left:5%;
}
.content{
	width:1260px;
	height:1075px;
	margin:0 auto;
	position:relative;
}
.content1{
	width:95%;
	height:1021px;
	margin:0 auto;
	border:2px solid #f0cec2;
	background-image: linear-gradient(to bottom, #f5e6d3, #eecdbc, #e4b6b8);
	position:relative;
}
#form0{
	width:30%;
	height:633px;
	position:absolute;
	top:198px;
	left:6%;
}
#tu1{
	width:100%;
	height:60%;
}
#tu2{
	width:45%;
	height:15%;
	position:absolute;
	top:75%;
	left:30%;
}
#file0{
	width:45%;
	height:15%;
	position:absolute;
	top:75%;
	left:30%;
	opacity: 0;
}
#tu3{
	width:20%;
	height:90px;
	position:absolute;
	top:400px;
	left:40%;
}
#tu4{
	position:absolute;
	top:415px;
	left:55%;
}
#but0{
	width:20%;
	height:90px;
	position:absolute;
	top:400px;
	left:40%;
	opacity: 0;
}
.content2{
	width:30%;
	height:633px;
	position:absolute;
	top:198px;
	left:65%;
}
#tu5{
	position:absolute;
	top:410px;
	left:979px;
}
.finally{
	width:1260px;
	height:1422px;
	margin:0 auto;
	position:relative;
}
#img1{
	position: absolute;
	top:10px;
	left:10%;
}
#img2{
	position: absolute;
	top:240px;
	left:35%;
}
#img3{
	position: absolute;
	top:415px;
	left:15%;
}
#img4{
	position: absolute;
	top:605px;
	left:25%;
}
#img5{
	position: absolute;
	top:490px;
	left:2.5%;
}