<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI上色-首页</title>
{#    <link rel="stylesheet" type="text/css" href="css/index.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<div class="page">
		<div class="nav">
{#			<img src="static/imgs/img/1.png">#}
            <img src="{{ url_for('static', filename="imgs/img/1.png") }}" alt="">
{#            <img src="{{ url_for('static', filename="imgs/img/1.png") }}" alt="">#}

{#			<img src="static/imgs/img/1.png">#}
		</div>
		<div class="content">
			<a id="tu1" href=""><img src="{{ url_for('static', filename="imgs/img/2.png") }}"></a>
			<a id="tu2" href=""><img src="{{ url_for('static', filename="imgs/img/3.png") }}"></a>
			<a id="tu3" href=""><img src="{{ url_for('static', filename="imgs/img/4.png") }}"></a>
			<a id="tu4" href=""><img src="{{ url_for('static', filename="imgs/img/5.png") }}"></a>
			<a id="tu5" href={{ url_for("coloring") }}><img src="{{ url_for('static', filename="imgs/img/6.png") }}"></a>
			<a id="tu6" href=""><img src="{{ url_for('static', filename="imgs/img/13.png") }}"></a>
		</div>
		<div class="finally">
			<img id="img1" src="{{ url_for('static', filename="imgs/img/7.png") }}">
			<img id="img2" src="{{ url_for('static', filename="imgs/img/8.png") }}">
			<img id="img3" src="{{ url_for('static', filename="imgs/img/9.png") }}">
			<img id="img4" src="{{ url_for('static', filename="imgs/img/10.png") }}">
			<img id="img5" src="{{ url_for('static', filename="imgs/img/11.png") }}">
		</div>
	</div>
</body>
</html>